.page-header {
    background-color: #70c3ea;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

#parcels {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#parcels td, #parcels th {
    border: 1px solid #ddd;
    padding: 8px;
}

#parcels tr:nth-child(even){background-color: #f2f2f2;}

#parcels tr:hover {background-color: #ddd;}

#parcels th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #70c3ea;
    color: white;
}

td.red {
    background-color: #FF6347;
}

table {
  counter-reset: section;                    /* Set a counter named 'section', and its initial value is 0. */
}

td.counter::before {
  counter-increment: section;                 /* Increment the value of section counter by 1 */
  content: counter(section);                  /* Display the value of section counter */
}

#form_fields {
  color: #FF6347;
  font-size: 10pt;
}

.post-form {
  padding: 10px 80px;
  text-align: left;
  width: 600px;
}

.post-form h1 {
  text-align: center;
}

.fieldWrapper {
  padding: 10px;
  text-align: left;
}

#save_button, #add_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete_button {
  padding: 10px;
}

.text_center, td.red, td.counter  {
  text-align: center;
}
