{% extends 'tracking/base.html' %}

{% block content %}

    <form method="POST" class="post-form">
        <h1>Добавить посылку</h1>
      {% csrf_token %}
  {% for message in messages %}

                   <div class="alert alert-success">
                       <a class="close" href="#" data-dismiss="alert">×</a>

                       {{ message }}

                   </div>
           {% endfor %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.track_number.errors }}
    <label for="id_track_number">Номер посылки*:</label>
    {{ form.track_number }}
</div>

<div class="fieldWrapper">
    {{ form.city.errors }}
    <label for="id_city">Город*:</label>
    {{ form.city }}
</div>

<div class="fieldWrapper">
    {{ form.client_name.errors }}
    <label for="id_client_name">ФИО*:</label>
    {{ form.client_name }}
</div>

<div class="fieldWrapper">
    {{ form.phone_number.errors }}
    <label for="id_phone_number">Телефон*:</label>
    {{ form.phone_number }}
</div>

<div class="fieldWrapper">
    {{ form.payment_summ.errors }}
    <label for="id_payment_summ">Сумма наложенного платежа*:</label>
    {{ form.payment_summ }}
</div>

<div class="fieldWrapper">
    {{ form.departure_date.errors }}
    <label for="id_departure_date">Дата отправки*:</label>
    {{ form.departure_date }}
</div>
<div id="form_fields">*Поля обязательные для заполнения</div>
<div id="save_button">
        <button type="submit" class="save btn btn-default">Добавить</button>
      </div>
    </form>
{% endblock %}
