{% extends 'tracking/base.html' %}

{% block content %}
  <script language="JavaScript">
  function toggle(source) {
  checkboxes = document.getElementsByName('checkbox_list');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
  </script>

  <!--  <button type="submit" name="delete" class="btn btn-default pull-right">Удалить</button> -->
    <form action="{% url 'delete_parcels' %}" method="POST">
      <div id="add_button"> <a class="btn btn-default" href="{% url 'parcel_new' %}" role="button">Добавить посылку</a>
      </div>
      <br>
      {% csrf_token %}
    <div>
    <table id="parcels">
      <tr>
        <th class="text_center"><input type="checkbox" name="select_all" onClick="toggle(this)"/></th>
        <th>№</th>
        <th>Номер посылки</th>
        <th>Город получателя</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Сумма наложенного платежа</th>
        <th>Дата отправки</th>
        <th>Статус</th>
        <th>Дней после отправки</th>
        <th>Изменить</th>
      </tr>
      {% for parcel in parcels %}
      <tr>
       <td class="text_center"><input type="checkbox" name="checkbox_list" value="{{ parcel.id }}"></td>
       <td class="counter"></td>
       <td><a href="https://novaposhta.ua/tracking/?cargo_number={{ parcel.track_number }}" target="_blank">{{ parcel.track_number }}</a></td>
       <td>{{ parcel.city }}</td>
       <td>{{ parcel.client_name }}</td>
       <td>{{ parcel.phone_number }}</td>
       <td>{{ parcel.payment_summ }}</td>
       <td>{{ parcel.departure_date }}</td>
       <td>{{ parcel.status }}</td>
  <!--     <td>{{ parcel.days_after_departure }} </td> -->
       {% if parcel.days_after_departure > 5 %} <td class="red"> {{ parcel.days_after_departure }} </td>
       {%else %}  <td class="text_center">{{ parcel.days_after_departure }} </td>
       {% endif %}
            <td class="text_center"><a class="btn btn-default" href="{% url 'parcel_edit' pk=parcel.track_number %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div><br>
  <div id="delete_button"> <input type="submit" name="delete" class="btn btn-default pull-left" value="Удалить"></div>
  </form>
{% endblock %}
